@model ChangePasswordVM

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@tr.Get("ChangePassword")</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("ResetPassword", null, FormMethod.Post, new
            {
                @id = "changePasswordForm",
                @class = "form-horizontal",
                role = "form",
                autocomplete = "off"
            }))
            {
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">

                    <div class="form-group">
                        @Html.LabelFor(m => m.CurrentPassword)
                        @Html.PasswordFor(x => x.CurrentPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPasswordConfirm)
                        @Html.PasswordFor(x => x.NewPasswordConfirm, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPasswordConfirm, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@tr.Get("Close")</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> @tr.Get("Update")</button>
                </div>
            }
        </div>
    </div>
</div>
