@model SmsVM
@{ 
    ViewBag.Sms = Model;
}
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@tr.Get("General")</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Id)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.Id)</dd>
                    <dt class="col-sm-4">@tr.Get("MerchantName")</dt><dd class="col-sm-8">@session.UserData.MerchantList.Where(x=>x.Value==Model.MerchantId.ToString()).FirstOrDefault().Text</dd>
                    <dt class="col-sm-4">@tr.Get("ServiceName")</dt><dd class="col-sm-8">@session.UserData.ServiceList.Where(x=>x.Value==Model.ServiceId.ToString()).FirstOrDefault().Text</dd>
                    <dt class="col-sm-4">@tr.Get("CarrierName")</dt><dd class="col-sm-8">@session.UserData.CarrierList.Where(x=>x.Value==Model.ServiceId.ToString()).FirstOrDefault().Text</dd>
                    <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Msisdn)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.Msisdn)</dd>
                 
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@tr.Get("SMS")</h3>
            </div>
            <div class="card-body">
                <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Title)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.Title)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.ShortCode)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.ShortCode)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Type)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.Type)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Message)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.Message)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.CreateTime)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.CreateTime)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.SendDate)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.SendDate)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Status)</dt><dd class="col-sm-8">@Html.DisplayFor(x => x.Status)</dd>
               
                </dl>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("Partials/_DetailActionButtons", Model.Id)